body {
    background-color: #8c8c8c;
    color: #0C0C0C;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 17px
}
h1 {
    color: #555555;
    text-align:center
}
h2 {
    color:silver;
    text-align:center;
}
img {float: right;
max-width: 80%;
padding-left: 20px;
padding-top: 30px;

}
.header{
    display: flex;
    justify-content: space-around;
    position: fixed;
    left: 0;
    top: 5px;
    text-align: center;
    background-color: #000000;
    width: 100%;
    align-items: center;
    padding: 8px 8px 8px 8px;
    border: 3px solid white;
    font-size: 23px;
    font-family: courier
}
.bottom {
    position: fixed;
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    left: 25%;
    bottom: 0;
       }
ul#references li{
    display: inline;
    padding: 10px;
    font-size: 18px;
}
a:link {color: #80c1ff;   
}/* unvisited link */
a:visited {color:#bf80ff
;}  /* visited link */
a:hover {color:#ff80ff
;}  /* mouse over link */

