body {
    background-color: #e6ccff;
    color: #0C0C0C;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 17px
}
h1 {
    color: #555555;
    text-align:center
}
h2 {
    color:silver;
    text-align:center;
}
img {float: right;
max-width: 65%;
}
#header{
    position: fixed;
    text-align: center;
    background-color: #cccccc;
    width: 100%;
}
#bottom {position: fixed;     
       text-align: center;    
       bottom: 2px; 
       width: 100%;
       font-size: 14px;
       }
ul#references li{
    display: inline;
    padding: 10px;
    font-size: 18px;
}
a {color: #B1CEFF;
    
}

